.textBoxDiv {
    text-align: center;
}

.textbox {
    height: 100px;
    width: 500px;
    border-radius: 5px;
    margin:auto;
}

.submit {
    margin-top: 10px;
    background-color: rgb(11, 56, 2);
    color: white;
    border-radius: 5px;
}

.direction {
    color: black;
}
#text{
    margin-left: 100px;
    margin-right: 100px;

}

.btn{
    margin-right: 100px;
}