.book {
    width: 100%;
    height: 100%;
    text-align: center;
    background-image: url('https://dumielauxepices.net/sites/default/files/scripture-clipart-open-book-outline-758548-6378382.png');
    position: fixed;
    top: 500px;
    background-size: cover;
  }

  .leftside {
    margin: 100px;
    margin-left: 150px;
    float: left;
  }

  .rightside {
    margin: 100px;
    margin-right: 150px;
    float: right;
  }