.book {
  margin-top: 8%;
  width: 100%;
  height: 100%;
  text-align: center;
  background-image: url('../assets/book.png');
  position: absolute;
  top: 300px;
  background-size: cover;
}

.leftside {
  position: absolute;
  margin-left: 10%;
  height: 610px;
  width: 425px;
  top: 15%;
}

.rightside {
  position: relative;
  margin-right: 10%;
  height: 610px;
  width: 425px;
  top: 15%;
  float: right;
}

/* @media only screen and (max-width: 768px) {
  .book {
    width: auto;
    height: 600px;
    text-align: center;
    background-image: url('../assets/book.png');
    background-size: contain;
    background-repeat: no-repeat;
    top: 45%;
    margin: 0 auto;
  }
  
  .leftside {
    margin: 50%;
    margin-left: 5%;
    position: absolute;
    float: left;
  }
  
  .rightside {
    margin: 10%;
    margin-right: 10%;
    position: relative;
    float: right;
  }
}

@media only screen and (min-width: 600px) {
  .book {
    width: 95%;
    height: 100%;
    text-align: center;
    background-image: url('../assets/book.png');
    top: 45%;
    margin: 0 auto;
  }
  
  .leftside {

  }
  
  .rightside {

  }
}

@media only screen and (min-width: 768px) {
  .book {
    width: 100%;
    height: 100%;
    text-align: center;
    background-image: url('../assets/book.png');
    position: absolute;
    top: 35%;
    background-size: cover;
  }
  
  .leftside {
    margin: 10%;
    margin-left: 10%;
    float: left;
  }
  
  .rightside {
    margin: 10%;
    margin-right: 10%;
    float: right;
  }
} */