#leftDiv{
  float:left;
  /* background-color: teal; */
  height: 600px;
  width: 450px;
  margin-top: 15%;
  margin-left: 10%;
  position: relative;
  font-size: 20px;

}

#rightDiv{
  float:right;
  /* background-color: green; */
  height: 600px;
  width: 450px;
  margin-top: 15%;
  margin-right: 10%;
  right:1px;
  position: relative;
}

.login {
  text-align: center;
  color: black;
  margin-bottom: 10px;
  font-family: 'Josefin Sans', sans-serif;
  border: 2px solid black;
  height: 100px;
  width: 100px;
}

.heading {
  color: white;
  font-size: 35px;
  text-align: center;
  background-color: rgba(11, 56, 2, 0.801);
  margin-top: 15px;
  margin-right: 200px;
  margin-left: 200px;
  margin-bottom: 15px;
  border-radius: 5px;
}

.signout {
  margin-top: 15px;
  margin-right: 200px;
  margin-left: 200px;
  margin-bottom: 15px;
  border-radius: 5px;
  text-align: center;
}

.startbtn {
  background-color: rgb(11, 56, 2);
  color: white;
  border-radius: 5px;
  height: auto;
  font-size: 30px;
  margin: auto;
  border-color: rgb(11, 56, 2);
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.empty {
  height: 100px;
  width: 30px
}

@media only screen and (max-width: 768px) {
  .heading {
    font-size: 20px;
    margin: 0 auto;
    margin-top: 5px;
    margin-left: 65px;
    margin-right: 65px;
    margin-bottom: 10px;
  }

  .signout {
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
  }

  #leftDiv{
    float:left;
    height: 600px;
    width: 200px;
    margin-top: 35%;
    margin-left: 10%;
    font-size: 10px;
  
  }
  
  #rightDiv{
    float:right;
    height: 600px;
    width: 200px;
    margin-top: 35%;
    margin-right: 10%;
    right:1px;
    font-size: 10px;

  }
}

/* ////////////////////////////////////////////////////phone */
@media only screen and (max-width: 500px) {
  .heading {
    font-size: 20px;
    margin: 0 auto;
    margin-top: 5px;
    margin-left: 65px;
    margin-right: 65px;
    margin-bottom: 10px;
  }
  .signout {
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
  }

  #leftDiv{
    float:left;
    height: 600px;
    width: 200px;
    margin-top: 35%;
    margin-left: 10%;
    font-size: 10px;
  
  }
  
  #rightDiv{
    float:right;
    height: 600px;
    width: 200px;
    margin-top: 35%;
    margin-right: 10%;
    right:1px;
    font-size: 10px;

  }
}

/* ////////////////////////////////////////////////////desktop */
@media only screen and (min-width: 768px) {
  .heading {
    font-size: 35px;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 10px;
    max-width: 50%;
  }

  #leftDiv{
    float:left;

    height: 600px;
    width: 450px;
    margin-top: 15%;
  margin-left: 10%;
  position: absolute;
  
  }
  
  #rightDiv{
    float:right;
    height: 600px;
    width: 450px;
  margin-top: 15%;
  margin-right: 10%;
  right:1px;
  position: absolute;
  }
}